.console {
  border-top: 4px solid black;
  width: 100%;
  position: fixed;
  z-index: 2;
  bottom: 0;
  overflow-x: hidden;
  background-color: white;

}

.console-entry {
  padding: 10px 40px;
}

.console-log {
  color: rgb(189,183,107);
  background-color: rgb(255,255,224);
  border-bottom: 1px solid rgb(189,183,107);
}


.console-err {
  color: rgb(189,103,97);
  background-color: rgb(255,220,224);
  border-bottom: 1px solid rgb(189,103,107);
}
