.context-menu {
  background-color: #0b0d13;
  color: rgba(211, 218, 231, 0.8);
  position: absolute;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: small;
  border: 1px solid #AAA;
  box-shadow:5px 5px 5px rgba(0,0,0,0.5);
}

.context-divider-top {
  height: 4px;
  border-bottom: 1px solid gray;
  margin-left: 4px;
  margin-right: 4px;
}

.context-divider-bot {
  height: 4px;
}

.context-option {
  padding: 4px 5px;
  /* border-radius: 3px; */
  cursor: pointer;
}

.context-option:hover {
  color: #1b1d23;
  background-color: rgba(211, 218, 231, 0.8);
}
