.variable {
  padding: 2px 5px 2px 5px;
  border-width: 2px;
  border-style: solid;
  margin-top: 6px;
  border-radius: 4px;
  background-color: rgb(30, 30, 40);

}

.variable:hover {
  background-color: rgb(190, 190, 200);
  color: black;

}

.var-name-input {
  border-radius: 5px;
  width: auto;
}

.variable-name {
  vertical-align: top;
  pointer-events: none;
  user-select: none;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}

.variable-constant {
  float: right;
  vertical-align: middle;
}

.variable-delete {
  float: right;
  color: white;
  background-color: black;
  border-color: white;
  border-radius: 4px;
  width: 30px;
  user-select: none;
  font-size: x-small;

}

.add-var-button {
  float: right;
  color: white;
  background-color: black;
  border-color: white;
  border-radius: 4px;
  width: 30px;
  user-select: none;
}

.add-var-button:hover {
  background-color: rgb(60, 170, 60);
}

.variable-delete:hover {
  background-color: rgb(230, 60, 60);
  color: black;
}

.variable-type-box {
  border-bottom: 1px solid rgba(211, 218, 231, 0.8);
  padding-bottom: 5px;
  padding-top: 10px;
}

input {
  background-color: #141514;
  color: rgba(211, 218, 231, 0.8);

}

.new-var-popup {
  margin: 10px -10px;
  /* margin-top: 10px; */
  /* border-bottom: 1px solid white; */
  border: 1px solid #AAA;
  box-shadow:5px 5px 5px rgba(0,0,0,0.5);


  padding: 10px;
  padding-top: 20px;
  border-radius: 10px;
  background-color: rgb(10, 10, 10);
}

.add-variable-title {
  padding-bottom: 5px;
}

.sidebar {
  background-color: #21252b;
  padding: 5px 10px;
  border-left: 6px solid black;
  /* padding-bottom: 10%; */
}
