body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

svg {
  background-color: rgb(220, 220, 220);
  shape-rendering: geometricPrecision;
  float: left;
  xml:space="preserve";

}

input {
  border: 1px solid rgb(169, 169, 169);
}

.input-test {
   overflow: hidden;
   text-overflow: ellipsis;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1em; /* number of lines to show */
   line-height: 1em;        /* fallback */
   max-height: 1em;       /* fallback */
}

rect {
  rx: 6;
  ry: 6;
}

.grid {
  pointer-events: none;
}

.target {
  pointer-events: painted;
}

.checkbox {
  box-shadow: 0px 0px 0px 1px rgba(255,0,0,1);
}

.node {
  stroke: black;
  stroke-width: 2;
  fill: rgb(200, 200, 200, 0.6);
  /* rx: 10; */
  /* ry: 5; */
}

.node-label {
  text-transform: capitalize;

}

.node-label-bg {
  stroke: none;
  fill: rgb(170, 170, 200, .6);
  pointer-events: none;

}

.bb-node-label-bg {
  stroke: none;
  fill: rgb(120, 120, 150);
  pointer-events: none;

}

.bb-node {
  stroke-width: 2;
}

.pin {
  stroke: black;
  stroke-width: 2.5;
  border-width: 2px;
  fill: rgb(200, 200, 200);
  line-height: 1;
}

.flow {
  stroke-linejoin: round;
  stroke: white;
}

.flow-line {
  stroke: white;
}

.connected {
  fill: rgb(250, 250, 250, .7);
}

.console {
  width: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2; /* Stay on top */
  bottom: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  background-color: white;

  border: 1px solid blue;
  padding-top: 20px;
}

.sidebar {
  /* height: 100%; /* Full-height: remove this if you want "auto" height */ */
  display: inline-block;
  float: right;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  background-color: white;
  border: 1px solid black;
  padding-top: 20px;
}

li {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 10pt;
  pointer-events: none;
}

svg line {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 10pt;
  pointer-events: none;
}
