.node {
  stroke-width: 1;
  stroke: rgb(100, 0, 0);
  fill: white;
}

.pin {
  stroke-width: 1;
  stroke: rgb(0, 0, 160);
  fill: white;
}

svg {
  width: 95%;
  height: 95%;
  margin: 0;
  padding: 0;
  border: 3px solid black;
}
